@charset "UTF-8";

/* MOBILE FIRST */

:root{
    --color1: #5e2c83;
    --color2: #489c9c;
    --color3: #6a4284;
    --color4: ;

    --font1: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;

    font-family: var(--font1);

    box-sizing: border-box;
}

body, html{
    height: 100%;

    background-image: linear-gradient(to bottom, var(--color1), var(--color2));
}

main{
    width: 250px;
    height: 520px;

    border-radius: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main > div#image{
    border-radius: 20px 20px 0 0;

    height: 200px;

    background-color: white;
    background-image: url(../imagem/porta-md.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

main > div#form{
    height: 320px;

    background-color: white;

    border-radius: 0 0 20px 20px ;

    padding: 0 10px 10px 10px;
}

main h1{
    text-align: center;
    font-weight: 600;
    font-size: 1.7em;
}

main p{
    margin-top: 5px;

    font-weight: lighter;
    font-size: 0.8em;
}


main div form div{
    margin-top: 5px;

    display: block;

    background-color: var(--color3);

    border-radius: 5px;
}

main div form div span.material-icons{
    color: white;

    font-size: 2em;

    margin-left: 3px;
    margin-top: 3px;
}

main div form div > input{
    background-color: #ddffff;

    display: inline-block;

    padding: 8px;

    border-radius: 5px;

    width: calc(100% - 60px);

    transform: translate(0, -5px);
}


main div form > input{
    width: 100%;

    text-align: center;
    color: white;
    font-size: 1.1em;

    display: block;

    background-color: var(--color2);

    border-radius: 5px;
    border: none;

    margin-top: 5px;
    padding: 10px;
}

main div form > a{
    width: 100%;

    text-align: center;
    color: var(--color2);
    font-size: 1.1em;
    text-decoration: none;

    display: block;

    background-color: white;

    border-radius: 5px;
    outline: 1px solid var(--color2);

    margin-top: 5px;
    padding: 10px 0;
}

 main div form > a:hover{
    background-color: #c9ffff;
}

main div form > input:hover{
    cursor: pointer;

    background-color: #59b9b9;
}